$tseva0: #8C8A85;
$tseva1: #594F3A;
$tseva2: #3F3E3C;
$tseva3: #8C7C5B;
$tseva4: #D9D5CE;
$iom0: #1242B3;
$iom1: #334A80;
$iom2: #0A2666;
$iom3: #4768B3;
$iom4: #195EFF;
$medinat0: #0036B3;
$medinat1: #662314;
$medinat2: #0A2666;
$medinat3: #406600;
$medinat4: #74b309;