@charset 'UTF-8';

@import "./_tzevaim.scss";
@import "./_keyframes.scss";
@font-face {
    font-family: 'NotoNastaliqUrdu';
    src: url('../CSS/fonts/Noto_Nastaliq_Urdu/NotoNastaliqUrdu-VariableFont_wght.ttf') format('truetype');
}



$opacity: 0%;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inherit;

}



body {
    position: relative;
    font-family: Helvetica, Arial,  sans-serif;
    background-image: linear-gradient(to left, $iom2, $iom3);
}

.tamanho_menor {
    height: 60px !important;
}


header {
    //margin-bottom: 800px;//only for clean
    position: fixed;
    width: 100%;
    padding: 15px;
    height: 335px;
    z-index: 1;
    background-color: $iom00;


    transition: height .5s;


    div {
        
       
        #PMenuControl {

            text-align: right;


            p {
                display: inline-block;
                cursor: pointer;
                color: white;
                font-size: 17px;
                
                padding: 7px;
                border-radius: 4px;
                user-select: none;
                transition: background-color 0.3s ease;
                text-shadow: black 1px 2px 3px;
                
    
            }
    
            p:hover {/*When p is on hover*/
                background-color: $medinat0;
                color: white;
            }

        }
        

    }

    #menuNav ol{

        padding-top: 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        a {
            text-decoration: none;
            color: white;
            font-weight: bolder;
            background-color: rgba(0, 0, 0, 0.199);
        }
    }
}

#menuNav > ol > a {/*p Style*/


    font-size: 0.9rem;
    padding: 12px;
    margin-left: 7px;
    
    border-radius: 10px;


    transition: background-color 0.2s ease;
}

#menuNav > ol > a:hover {/*When a is on hover*/
    background-color: $medinat0;
    
}

/**/

.home-main-banner {
    position: relative;
    
    z-index: -1;
    //margin-bottom: 800px;
    height: 670px;
    border-bottom: 1px solid $medinat2;
    background-image: linear-gradient(20deg, $medinat0, $medinat2);
    background-size: cover;
    background-attachment: fixed;
    //position: relative;
     //deixa o home-main-banner abaixo do logo-alef
     
    /*display: grid;
    grid-column: 1fr 1fr; /*Define a quantidade de colunas
    align-items: center;
    justify-content: center;*/
    
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*flex-wrap: wrap; //separa os elementos filhos em linhas semelhande ao display:line;*/
    padding-top: 40px;
}

.alfbt {
    z-index: -1;
    position: relative;
    width: 275px;
    height: 45%;
    z-index: 0;
    //background-color: rgba(0, 0, 139, 0.534);
}


.logoAlef-center {
    top: 31.45% !important;
    //transition: transform 0.5s ease-in-out;
    animation: scaleAlef 0.5s ease-in-out forwards;
    animation-delay: 1.2s;
}

.alfbt1 {
    z-index: -1;//deixa o logo-alef abaixo do header
    background: url(../imagens/img-alphabeit/alef-icon-a.png) center no-repeat;
    background-size: cover;
    left: 50%;
    top: -20%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);

    transition: top 0.8s ease-in-out;
    

}

.alfbt2 {
    z-index: -1;//deixa o logo-alef abaixo do header
    background: url(../imagens/img-alphabeit/alef-icon-a2.png) center no-repeat;
    background-size: cover;
    left: 50%;
    top: -20%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
    transition: top 0.8s ease-in-out;
}


.alfbt3 {
    z-index: -1;//deixa o logo-alef abaixo do header
    background: url(../imagens/img-alphabeit/alef-icon-fi.png) center no-repeat;
    background-size: cover;
    left: 50%;
    top: -20%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
 
    transition: top 0.8s ease-in-out;
}

.alfbt4 {
    z-index: -1;//deixa o logo-alef abaixo do header
    background: url(../imagens/img-alphabeit/alef-icon-lf.png) center no-repeat;
    background-size: cover;
    left: 50%;
    top: -20%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%);
   
    transition: top 0.8s ease-in-out;
}

.alfbt5 {
    //lamed, ל
    background: url(../imagens/img-alphabeit/alef-icon-allamed.png) center no-repeat;
    background-size: cover;
    left: 22%;
    top: 31.45%;
    width: 100px;
    height: 100px;
    position: absolute;
    transform: translate(-50%, -50%) scale(1.39);
    opacity: $opacity;
    transition: opacity 0.8s ease-in-out;
}

.alfbtsYamin {
    animation: yaminalfs 0.8s ease-in-out forwards;

}

.alfbtfi {
    animation: alfbtfi 0.8s ease-in-out forwards;
    
}

.alfbtlf {
    animation: alfbtlf 0.8s ease-in-out forwards;

}


.alfbt6 {
    //lamed, epsilon
    background: url(../imagens/epsilon.png) center no-repeat;
    background-size: cover;
    left: 56%;
    top: 35.45%;
    width: 100px;
    height: 100px;
    position: absolute;
    opacity: $opacity;
    transform: translate(-50%, -50%) scale(0.82);
    transition: opacity 0.8s ease-in-out;
}

.opacityOn {
    opacity: 100% !important;
}

/**/

.phrase {
    display: flex;
    width: 330px;
    height: 40%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    //background-color: rgba(0, 0, 0, 0.336);
    h1{
        font-size: 100px;
        color: rgb(255, 255, 255);
        text-shadow: black 1px 2px 3px;
    }
    
    h3{
       
        font-size: 18px;
        color: rgb(255, 255, 255);
        font-weight: 700;
        text-shadow: black 1px 2px 3px;
    }
    //margin-left: 30vw;
    opacity: 0%;
    //background-color: rgba(0, 0, 0, 0.514);
}

.fromYamintoSmola {
    animation: fYtS 1s ease-in-out forwards;
    
    
}

/**/

.introducao {
    
    width: 100%;
    display: flex;
    background-color: $medinat3;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    padding: 1.5rem;
    color: white;
    
    div{
        margin-right: 1.2rem;
        h2 {
            font-size: 2rem;
            font-weight: 700;
        }

        p {
            font-size: 1.2rem;
        }
    }
}

.linkGit {
    //opacity: 0;
    //height: 10rem;
    //border-radius: 100%;
    //box-shadow: inset black -1px -1px 20px 20px;
    margin-left: 1rem;
    font-size: 1.42rem;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1rem;
    width: 10rem;
    border-radius: 9rem;
    background-color: $medinat0;
    transition: all .5s ease-in-out;
}

.linkGit:hover {
    letter-spacing: 3px;
    transform: scale(1.09);
}

.insertionPointer::after{
    content: '|';
    margin-left: 5px;
    opacity: 100%;
    animation: onOffPointer 0.73s infinite;
}  



.full {

    display: flex;

    flex-direction: column;
}


.logoSec2Me {
    background-image: url(../imagens/alef-icon.png);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    //$₪אבגדהוזחטיכךלמםנןסעפףצץקרשת₪ابﺕﺙﺝﺡ$₪ﺥﺩﺫﺭﺯﺱﺵﺹﺽﻁﻅﻉﻍﻑﻕﻙﻝﻡﻥﻩﻭﻱ
    p {
        font-family: 'NotoNastaliqUrdu'; 
        font-size: 4rem;
        position: absolute;
        top: -8%;
        left: 61%;
        width: 10px;
        font-weight: 400;
        transform: translate(50%, 50%);
        
    }


}






.sec2Me {
    //background-color: rgba(0, 0, 0, 0.425);
    //display: none;
    color: white;
    padding-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column; //quando phone On
    min-height: 40rem;
}

.description {
    width: 100%;
    padding: 1rem;
    //background-color: rgba(0, 0, 0, 0.445);
    display: flex;
    flex-direction: column;
    background-color: $iom0;
    //border-radius: 10px;
    box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.534);;
    
    
}

/*.description:active{
    box-shadow: inset 0px 0px 7px 1px black;
    transform: scale(.99);
}*/

.aboutMeh1 {
    
    font-weight: 800;
    line-height: 3rem;
    font-size: 2rem;
}

.aboutMeP {
    text-indent: 1rem;
    font-size: 1.2rem;
    text-align: justify;
    
}

.skills {
    background-color: rgba(0, 0, 0, 0.452);
    padding: 1rem;

    h2 {
        font-size: 1.8rem;
        font-weight: 800;
        margin-bottom: 20px;
        text-align: center;
        color: white;
    }

}

.ulSkills {
    display: flex;
    width: 100%;
    div {
        width: 100%;
        li {
            width: 100%;

            img {
                height: 4.3rem;
                background-color: white;
                padding: 0.4rem;
                border-radius: 27px;
            }
            list-style-type: none;
            margin-left: 0.3rem;
            text-align: center;
            color: white;
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}
@media (min-width: 727px) {
    .full {
        max-width: 100vw;
        z-index: -4;
        flex-direction: row-reverse;
        background-image: linear-gradient(207deg, $medinat2, $medinat4);
        position: relative;
    }


    .home-main-banner {
        width: 50%;
        background-image: none;
        border: none;
    }

    .introducao {
        width: 50%;
        background-color: transparent;

        p {
            font-size: 1.9rem !important;
            
        }
        
        h2 {
            font-size: 2.2rem !important;
        }
        
    }

    .logs {
        width: 117px !important;
        height: 117px !important;
    }

    header {
        display: none;
    }

    .ulSkills {
        display: flex;

        
    
        div {
            li {
    
                img {
                    height: 7rem;
                    background-color: white;
                    padding: 0.5rem;
                    border-radius: 27px;
                }
                list-style-type: none;
                margin-left: 0.5rem;
                text-align: center;
                color: white;
                font-size: 1.2rem;
                font-weight: 500;
            }
        }
    }
}